body {
  background: #007fff url(background.png) 50% 50% repeat;
}
#layout {
  padding-top: 6%;
}
#content {
  padding: 20px;
  background-color: #F9F8F1;
}
#content > .row {
  margin-bottom: 0px;
}
#largename > h1 {
  margin-bottom: 0px;
  margin-top: 8%;
}
#smallname > h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}
#largebuttons > ul, #smallbuttons > ul {
  list-style: none;
}
#largebuttons > ul > li, #smallbuttons > ul > li {
  display: inline-block;
}
#tweets {
  margin-top: 8%;
}
img.profile {
  width: 100%;
}
.label {
  display: none;
}
a.icon {
  font-size: 32px;
  margin-right: 15px;
}
ul > li:last-child > a.icon {
  margin-right: 0px;
}